:root {
  --radius: 0.625rem;
  --sidebar-width: 310px;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --spacing-sidebar-width: var(--sidebar-width);
}
